@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

/* navbar */
header {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: white;
}

#navbar{
    display: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.logo {
    display: flex;
    height: 32px;
    padding-left: 24px;
    font-size: 25px;
}

.logo img {
    width: 40px;
    height: 40px;
    
}

.logo span {
    color: #9b9b9b;
}

.navbar {
    display: flex;
    gap: 16px;
    padding-right: 24px;
}

.navbar li{
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    color: darkolivegreen;
}
/* navbar */

/* section hero */
#hero{
    width: 100%;
}
.hero {
    display: flex;
    background-color: #eaebec;
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    
}

.banner img {
    width: 60%;
    padding: 32px 24px;

}.banner-text {
    color: #4a4a4a;
    padding-left: 24px;
}

.banner-text h1 {
    font-size: 48px;
}

.banner-text p {
    font-size: 20px;
}

.banner-text button {
    width: 100%;
    height: 50px;
    padding: 8px 0;
    margin-top: 60px;
    background-color: #4a4a4a;
    color: seashell;
    font-size: large;
}

.banner-text button:hover {
    background-color: antiquewhite;
    color: #333;
}
/* section hero */

/* section info */
#information {
    width: 100%;
}

.information {
    display: flex;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    width: 60%;
    height: 100%;
}

.info img {
    width: 100%;
}

.info h2 {
    font-size: 50px;
    padding: 32px 0;
}

.info p {
    padding-bottom: 32px;
}

.info-aside{
    border-left: #eaebec solid 1px;
    padding-left: 16px;
}

.aside {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaebec;
    width: 100%;
}

 .aside img {
    width: 35%;
    height: auto;
    padding: 16px;
}

.info-aside div {

    padding-top: 16px;
}

.aside a {
    text-decoration: none;
}

.aside h3, p {
    padding-bottom: 8px;
}

.aside:hover {
    background-color: lightgray;
}
/* section info */

/* section course */
.course {
    display: flex;
    flex-direction: column;
    background-color: #eaebec;
    padding-top: 32px;
    padding-bottom: 32px;
 }
 
 .course h1 {
    padding-top: 32px;
    text-align: center;
    font-size: 40px;
 }
 
 .learning {
    padding: 32px 72px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 32px;
    height: auto;
 }
 
 .subject img {
    height: auto;
    width: 100%;
    padding-bottom: 16pxs;
     
 }
 
 .subject {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;
     
 }
 
 .subject h2 {
    padding-left: 16px;
    padding-top: 16px;
 }
 
 .subject p {
    padding: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 18px;

 }

 .subject .bottom {
    padding: 16px;
 }

 .subject:hover {
    background-color: lightgray;
 }

 /* section course */

 /* section thesis */
 #thesis {
    width: 100%;
   
}

.thesis-exhibit {
    display: flex;
    width: 100%;
    background: lightgray;
    flex-direction: column;
}

.thesis-exhibit h1 {
    padding-top: 32px;
    text-align: center;
    font-size: 40px;
}

.thesis-body{
    display: flex;
    width: 100%;
    background: lightgray;
}

.thesis {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    width: 60%;
    height: 100%;
}

.thesis h2 {
    font-size: 50px;
    padding: 32px 0;
}

.thesis p {
    padding-bottom: 32px;
}

.t-aside{
    padding-left: 16px;
}

.t-aside {
    display: flex;
    align-items: center;
    width: 100%;
}

 .t-aside img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.thesis-aside div {

    padding-top: 16px;
}

.t-aside h3, p {
    padding-bottom: 8px;
}

.t-aside a {
    text-decoration: none;
}

.t-aside:hover {
    background-color: whitesmoke;
}
/* section thesis */

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    border-top: lightgray 1px solid;
    
}

footer div {
    padding-top: 16px;
    padding-left: 24px;
}

footer ul {
    display: flex;
    gap: 10px;
    padding-right: 24px;
    padding-top: 16px;
}

footer ul li {
    list-style: none;
    
}

footer ul li a {
    text-decoration: none;
    color: #333;
    
}

footer ul li a:hover {
    color: darkolivegreen;
}

/* footer */





/* responsive */
@media only screen and (max-width: 600px){
    
    header{
        display: none;
    }

    #navbar {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: 0;
        padding: 0;
    }
    #navbar li{
        list-style: none;

    }

    
    .hero {
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    .banner{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
        padding-bottom: 32px;
    }
    .info {
        display: none;
    }
    .info-aside{
        display: flex;
        align-content: center;
        flex-direction: column;
        width: 100%;
        background-color: #eaebec;

    }
    .aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        padding-bottom: 32px;

    }
    .course{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .lerning{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        height: auto;
    }
    .subject img{
        display: none;
    }
    .subject p{
        display: none;
    }
    .thesis-exhibit{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .thesis h2{
        display: none;
    }
    .thesis p{
        display: none;
    }
    .t-aside{
        display: none;
    }
    .thesis{
        width: 100%;
    }
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    footer li {
        display: none;
    }


}